/* VARIABLES */

$font1: 'Inter', sans-serif;
$green: #0ba837;
$lightGreen: #BAECB8;
$grey: #f4f4f4;
$darkGrey: #8D8D8D;
$red: #C44940;
$blue: #4079c4;
$lightBlue: #D0DDFF;

/* MIXINS */

@mixin theme($theme: centreAbs) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hidden {
    visibility: hidden;
}


body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: $font1;
}

/* Global classes */

.screen {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

/* Landing styles */

#landingContainer {

    background-color: $green;

    aside {
        position: absolute;
        right: 0;
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        #mapContainer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100%;
        }

    }

   

}

#landingCard {
    position: absolute;
    left: 0;
    height: 100%;
    width: 40%;
    color: black;
    font-family: $font1;
    overflow: hidden;
    background-color: white;

    img {
        position: absolute;
        width: 50%;
        left: 25%;
        top: 15%;
    }

    h2 {
        font-size: 2.5vh;
        margin-top: 25%;
        margin-bottom: 10%;
        text-align: center;
    }

    form {
        position: absolute;
        width: 60%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        p { 
            text-align: center;
            color: #0AA837;
            cursor: pointer;
        }

        p :hover {
            text-decoration: underline;
        }

       label {
        font-size: 2vh;
        margin-top: 10%;
       }

        input[type=email], input[type=password], input[type=text], select  {
            width: 100%;
            font-size: 2vh;
            padding: 12px 20px;
            margin-top: 2.5%;
            margin-bottom: 5%;
            box-sizing: border-box;
            border-radius: 5px;
        }

        input[type=text]:focus{
           border: 1px solid $green;
        }

        .submitActive {
            background-color: $green;
            color: white;
        }

        input[type=submit] {
            width: 100%;
            font-size: 2vh;
            padding: 2.5%;
            font-family: $font1;
            border: none;
            border-radius: 5px;
            margin-top: 5%;
            cursor: pointer;
        }

        #errorMessage {
            color: $red;
        }
       
    }
}

#mapPrompt {
    text-align: center;
}

/* Main styles */

#loadingIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vh;
    color: $green;
}

#navContainerMobile {
    display: none;
}

#navContainer:hover {
    filter: brightness(100%);
  }

#navContainer {
    filter: brightness(97.5%);
    position: absolute;
    height: 100%;
    width: 20%;
    background-color: #f4f4f4;
   
    #navTop {
        position: relative;
        width: 100%;
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {width: 30%;}
    }

    #mobileNavBtn {
        display: none;
    }

    nav {
        position:relative;
        height: 50%;
        width: 100%;
    }

    ul {
        -webkit-user-select: none;    
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-family: $font1;
        padding: 0;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        color: $darkGrey;
        text-align: center;

        li p {
            font-size: 2.5vh;
            margin: 2.5%;
            margin-left: 10%;
            padding: 2.5% 0 2.5% 0;
        }

        li:hover {
            cursor: pointer;
            background-color: $green;
            color: white;
            transition: 0.25s;
        }

        

        li i {
            margin: 5%;
        }

    }

    #logout {
        position: absolute;
        bottom: -50%;
        width: 100%;
        color: rgb(177, 175, 175);


        i {
            -moz-transform: scale(-1, 1);
            -webkit-transform: scale(-1, 1);
            -o-transform: scale(-1, 1);
            -ms-transform: scale(-1, 1);
            transform: scale(-1, 1);
        }
     }
 
     #logout:hover {
         color: $red;
         background-color: unset;
     }

}



.navActive {
    color: $green;
    box-shadow: inset 5px 0px 0px 0px $green;
}


.settingsActive {color: $green;}

#utilityContainer {
    font-family: $font1;
    position: absolute;
    width: 80%;
    height: 100%;
    left: 20%;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-5%);
    }
    100% {
      transform: translateX(0);
    }
  }

#fixedUtility {
    position: absolute;
    width: 95%;
    left: 2.5%;
    height: 20%;
    color: $darkGrey;
    font-family: $font1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid black;

    h2 {
        animation: 0.5s ease-out 0s 1 slideInFromLeft;
        color: black;
        margin: 0;
    }
}

#userIcon {
    position: absolute;
    right: 0;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $green;
    font-weight: bolder;
    color: white;
}

#alertBell {
    position: absolute;
    right: 5%;
    font-size: 4vh;

}

#alertBell:hover, #userIcon:hover {
    cursor: pointer;
}

#scrollUtility {
    position: absolute;
    width: 95%;
    height: 100%;
    left: 2.5%;
    top: 2.5%;
    font-family: $font1;
}


#weatherWidget:hover {
    background-color: $lightBlue;
    cursor: pointer;
    transition: 0.25s;
}

.Col2Card {

    #widgetPin {
        color: $red;
    }

    #widgetHumidity i {
        color: $blue;
    }

    #wigetClouds {
        text-transform: capitalize;
    }

    position: absolute;
    top: 25%;
    width: 30%;
    height: 30%;
    background-color: $grey;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $darkGrey;

    h1 {
        color: black;
        font-size: 5vh;
        margin: 0;
        font-weight: normal;
    }

    .weatherWigetTop, .weatherWigetBottom {
        position: absolute;
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      
    }

    .weatherWigetBottom {bottom: 10%;}
    .weatherWigetTop {top: 0}
    
}

.col4Card {
    position: absolute;
    height: 30%;
    width: 67.5%;
    left: 32.5%;
    top: 25%;
    border-radius: 15px;
    background-color: $grey;
}


.lineChartContainer {
    position: absolute;
    border-radius: 5px;
    bottom: 5%;
    width: 100%;
    height: 65%;
    font-family: $font1;

    h2 {
        font-size: 1.5vw;
        color: rgb(177, 175, 175);
    }

    #myChart {
        position: absolute;
        bottom: 0;
    }
}

.weatherCityContainer {
    position: relative;
    top: 5%;
    height: 10%;
    width: 100%;
    left: 0%;
    margin-bottom: 2%;
    background-color: $grey;
    border-radius: 5px;
    color: $green;
    font-size: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
        font-size: 6vh;
        margin-left: 2.5%;
    }

    ul {
        margin-right: 2.5%;
        list-style: none;
        color: black;
    }
}

.weatheDataContainer  {
    position: absolute;
    top: 17.5%;
    width: 100%;
    display: flex;
    flex-direction: row;

    div {
        width: 20%;
        margin: 0 5px 0 5px;
        border-radius: 5px;
        border: 2px solid $grey;

        h2 {
            color: $darkGrey;
            font-weight: normal;
            font-size: 1vw;
            margin-left: 5%;
        }
        
        p {
            color: $darkGrey;
            text-align: center;
            font-weight: bold;
            font-size: 1.5vw;
            margin: 2.5% 0 2.5% 0;
        }

       
    }
    #sunsetSunrise {
        width: 40%;
        i {color: $darkGrey;}
    }
}

.daySelector {
    position: absolute;
    width: 90%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 0;
    gap: 25px;
    background-color: $grey;
    padding: 5% 5% 2.5% 5%;
    border-radius: 15px;

    h2 {
        color: $darkGrey;
        font-size: 1vw;
        position: absolute;
        top: 0;
        text-align: center;
        width: 100%;
    }

    select {
        margin-left: 5px;
        font-family: $font1;
        background-color: $grey;
        border-radius: 5px;
        color: $darkGrey;
    }

    

    li {
        width: 25%;
    }

    li button {
        font-family: $font1;
        border: 2px solid $grey;
        background-color: unset;
        font-size: 1.5vw;
        border-radius: 5px;
        padding: 10px;
        color: $darkGrey;
        width: 100%;
        span {
            color: $green;
            font-weight: bold;
        }
    }

    li button:hover {
        cursor: pointer;
        background-color: $green;
        color: white;
        span {color: white;}
        
    }

    .daySelectorActive {
        border: 2px solid $green;
    }
    
}

.fieldsTableConatiner {
    position: absolute;
    width: 100%;
    top: 62.5%;
    height: 35%;
    font-family: $font1;

    #createField {
        width: 100%;
        background-color: $grey;
        border-radius: 25px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;


        label {
            font-size: 2vh;
            text-align: left;
            
        }

        input {
            margin: 5px;
            font-size: 2vh;
        }

    }

    #loginInBtn {
        margin: 2.5% 0 0 0;
        border: 1px solid $darkGrey;
        background-color: white;
        border-radius: 5px;
        font-size: 2vh;
    }

    #centreToMap {
        width: 5%;
        position: absolute;
        right: 0;
        top: 0;
        margin: 0;
  
    }

    .fieldsTableBtn {
        border: 1px solid $darkGrey;
        background-color: white;
        border-radius: 5px;
        font-size: 2vh;
        margin-right: 2.5%;
        width: 15%;
        height: 15%;
        top: 5%;
        z-index: 1;
    }

    .fieldsTableBtn:hover {
        cursor: pointer;
        background-color: $green;
        color: white;
    }

    .fieldsTable tbody tr:hover {
        background-color: #D0FFBC; /* Change this to the desired hover color */
      }

    #addFieldsHeader {
        position: absolute;
        height: 15%;
        font-size: 2vh;
        z-index: 0;
        color: $darkGrey;
        width: 50%;
        left: 25%;
        text-align: center;
        width: 50%;
        left: 25%;
    }
}

.fieldsTable {
    font-family: $font1;
    width: 100%;
    height: 50%;
    border-radius: 25px;
    background-color: #F4F4F4;
    border-collapse: collapse;
    position: absolute;
    top: 22.5%;

    th h2 {
        position: relative;
        text-align: left;
        border-radius: 25px;
        margin: 5%;
        font-size: 2vh;
        font-weight: normal;
    }

    thead tr {
        border-radius: 25px;
    }

    tbody tr:nth-child(odd) {
        background-color: white;
    }

    tbody tr td span {
        margin-left: 5%;
        font-size: 2vh;
    }

      tbody tr:hover {
        cursor: pointer;
        background-color: $lightBlue;
      }
    
}

#createField {
    position: absolute;
    width: 100%;
    height: 70%;
    top: 25%;
    left: 0;
}

#map{
    position: relative;
    height: 60%;
 }

 #add{
 
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
 }

 #div{
   
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
 }

 #googleSignIn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

//TEAM STYLES

#taskBoard {
    position: absolute;
    width: 100%;
    height: 75%;
    bottom: 5%;
    background-color: $grey;
    border-radius: 15px;
    display: flex;
    flex-direction: row;

    .taskColumn:hover > h2 {
        color: $green;
    }

    .taskColumn {
        position: relative;
        width: 33.3333%;
        height: 90%;
        top: 5%;

        h2 {
            width: 90%;
            font-size: 2.5vh;
            font-family: $font1;
            margin: 0 0 2.5% 5%;
            padding-bottom: 2.5%;
            color: $darkGrey;
            border-bottom: 1px solid black;
        }

        #addNewTask {
            position: absolute;
            right: 5%;
            color: $green;
            cursor: pointer;
            background-color: $grey;
            border: 1px solid $darkGrey;
            border-radius: 5px;
        }

        #addNewTask:hover {
            background-color: $green;
            color: white;
        }

        .taskContainer {
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: scroll;
        }

        .taskCard {
            position: relative;
            height: 30%;
            width: 90%;
            margin: 5%;
            border-radius: 15px;
            border: 1px solid $darkGrey;
        }
    }
}

#addTask {
    position: absolute;
    width: 100%;
    height: 75%;
    top: 10%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $grey;
    color: $darkGrey;

    h2 {
        color: $green;
        font-size: 2.5vh;
    }

    input, select, button {
        width: 30%;
    }

    button {
        margin: 25px;
    }

    label {
        margin: 5px;
        width: 30%;
        text-align: left;
    }
}

#addTeamMember {
    position: absolute;
    background-color: $grey;
    padding: 5%;
}

.modalBackground {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px); /* Apply a blur effect to the background */
  }

  .modalContainer {
    width: 500px;
    height: 500px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Set a higher z-index to ensure the modal appears above the blurred background */
  }

  .modalContainer .title {
    position: absolute;
    top: 2%;
  }

  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }

  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }

  .modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}

.highlighted {
    background-color: yellow; /* Customize the highlighting style as desired */
  }



// MOBILE STYLES

@media only screen and (max-width: 600px) {

    //LANDING STYLES

    #landingContainer {
        aside {
            display: none;
        }
    }

    #landingCard {

        width: 100%;

        img {
            top: 5%;
        }

        #googleSignIn {
            transform: none;
            position: relative;
            left: 0;
            top: 0;
            width: 100%;
        }

    }




    // MAIN STYLES

    #navContainer {
        display: none;
    }
   
    #navContainerMobile {
        display: inline;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;

        #navTop {
            display: flex;
            align-items: center;
        }

        #navListMobile {
            position: absolute;
            height: 90%;
            top: 10%;
            width: 100%;
            z-index: 99;
            background-color: $grey;
        }

        #mobileNavBtn {
            color: white;
            font-size: 3vh;
            margin-left: 25px;
        }
       
        #navTop {
            height: 10%;
            background-color: $green;
            img {display: none;}
        }
        ul {
            -webkit-user-select: none;    
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            font-family: $font1;
            padding: 0;
            display: flex;
            flex-direction: column;
            list-style-type: none;
            color: $darkGrey;
            text-align: center;
    
            li p {
                font-size: 2.5vh;
                margin: 2.5%;
                margin-left: 10%;
                padding: 2.5% 0 2.5% 0;
            }
        }
        nav ul {
            margin-top: 0;
        }

        nav ul li{
            z-index: 20;
            background-color: white;
        }

        nav ul li p {
           margin-left: 5%;
        }

        #logout {
            width: 100%;
            position: relative;
        }
    }

    #utilityContainer {
        left: 0;
        top: 10%;
        width: 100%;
        overflow: hidden;
        background-color: white;
    
        #userIcon {
            display: none;
        }

    }

    #fixedUtility {
        background-color: white;
        width: 95%;
        left: 2.5%;
        

        h2 {
            font-size: 3vh;
            margin-left: 2.5%;
        }

        p {
            margin-left: 2.5%;
        }
    }

    #scrollUtility {
        width: 100%;
        background-color: white;
        left: 0;
        top: 0;
    }

    //DASHBOARD STYLES

    #weatherWidget {
        width: 95%;
        left: 2.5%;
    }

    #alertWidget {
        top: 100%;
    }

    //WEATHER STYLES 

    .weatherCityContainer {
        top: 2.5%;
        width: 95%;
        left: 2.5%;
        background-color: $grey;
        color: $green;
    }

    .weatheDataContainer { 
        
        position: relative;
        top: 5%;
        width: 95%;
        left: 2.5%;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;

        div, #sunsetSunrise {
            width: 45%;
        }

        div h2, div p {
            font-size: 3vw;
        }


    }

    .lineChartContainer {
        position: relative;
        top: 5%;

        #myChart {
            top: 5%;
        }
    }

    .daySelector {
        position: relative;
        top: 25%;
        width: 95%;
        left: 2.5%;
        padding: 5% 0 5% 0;

        li button {
            font-size: 3vw;
        }

    
    }

  }